<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h2>Start Quiz</h2>
    <form action="/quiz-submission/submit/{quizId}" method="post">
        <!-- Add form fields for quiz submission -->

        <button type="submit">Submit Quiz</button>
    </form>
</body>
</html>
